{% extends "base.html" %}
{% block body %}
<div class="country">
    <div class="container">
        <center><h1 class="fs-1 text-muted default_cursor_cs">Форма додавання країни</h1></center>
        <main class="form-signin w-100 m-auto default_cursor_cs">
            <form class="default_cursor_cs" action="" method="post">
                <div class="form-floating">
                    <input type="text" class="form-control" id="tittle" name="tittle" placeholder="Country">
                    <label>Country</label>
                </div>
            </form>
        </main>
    </div>
</div>
{% endblock %}

